*{
    box-sizing: border-box;

}
h1 {
        text-align: center;
    }
p {
    padding: 15px 5px 0px 5px;
    font-family: georgia sans-serif;
    font-size: 16px;
    position: relative;
}
.section { 
    background-color: rgb(42, 175, 164);
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    text-align: justify;
    position: relative;
}
span {
    font-size: 20px;
    width: 150px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
}
#box1 {
    background-color: black;
    color: white;  
}
#box2 {
    background-color: rgb(63, 3, 48);
    color: white;
}
#box3 {
    background-color: rgb(17, 5, 63);
    color: white;
}
.row {
    width: 100%;
}

/* large screen view  */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}

/* tablet view  */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;

}
    .col-md-12 {
    width: 100%;
    float: left;
    }

    }

    /* small screen view  */
    @media (max-width: 767px) {
        .col-sx-12 {
            width: 100%;
            float: left;
            
        }
    }